*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background: url(../assets/kisumh.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.col-4{
    column-gap: 10px;
    height: 629px;
}
body{
    background-color: white;
    color: black;
}