*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    background: url(../assets/kisumh.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.col-4{
    column-gap: 5px;

}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    
    
}
.col-sm-4{
    position: relative;
   
}
.card img{
    z-index: 1;
    width: 100%;
    height: 100%;
}
#hide{
    display:none;
    position: absolute;
    padding: 2rem;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    border: #FF783F solid 4px;
    font-weight: bold;
    color: white;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
}
.history{
    
    color:black;
    font-size: medium;
}
.on-hover{
    filter: blur(1.3);
}
.card.btn{
    color: brown;
}
.btn-success,
.btn-success:focus,
.btn-success:hover{

    border: none;
    box-shadow: none !important;
    background-color: #FF783F;
               
}
h1, h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: #FF783F;
}
.map-responsive{

    overflow:hidden;

    padding-bottom: 25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}


@media only screen and (max-width: 600px) {
  .welcome-image {
    width: 100%;
  }
}


/*footer css start*/

.footerbg {
    background-color: #FF783F;
    background-size: cover;
    
    
}

.footerlogo {
    margin-left: 5rem;
    padding-top: 3rem;
}


.footerlist1 {
    padding-right: 12rem;
}

.stuff li {
    list-style-type: none;
}

.socialIconLast {
    margin-right: .10rem;
}

.socialIcon img {
    padding-right: 30px;
}

.terms {
    margin-right: 13.5rem;
}

.termsSpace {
    padding-right: 2.2rem;
}

@media only screen and (max-width:600px) {
    * {
        overflow-x: hidden;
    }
      
    
}
