*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background: url(../assets/kisumh.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.col-4{
    column-gap: 10px;
    height: 629px;
}
body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    
}
.history{
    color:white;
}
.on-hover{
    filter: blur(1.3);
}
.card.btn{
    color: brown;
}
h1, h2{
    color: white;
}