* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
}
h1, h2, h3, p, a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

p {
    font-size: 20px;
    font-weight: 400;
}


/* .topnav {
  overflow: hidden;
  background-color: black;
  position: sticky;
} */

/* .topnav a {
  text-decoration: none;
  font-style: normal;
  font-size: 17px;
  color: #ffffff;
  float: right;
  text-align: center;
  padding: 14px 16px;
  font: size 17px;
} */

/* .topnav a:hover {
  background-color: #ff5108;
  color: black;
} */


/* .ferryLink a:hover {
    background-color: #ff5108;
    color: black;
} */
.welcome-image {
  position: relative;
  width: 100%;
  height:100%;
  border-radius:8px;
  

  z-index: 2;
}
.orangerectangle {
  height: 100vh;
  position: absolute;
  padding-left: 10%;
  
  
 

  z-index: -1;
}


.showcard1, .showcard2, .showcard3 {
    display: none;
}

.checked {
    color: #ff5108;
}

.show-1,
.show-2,
.show-3,
.show-4 {
  display: none;
}

/* .carousel-1 {
  width: 100%;
} */

.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}


@media only screen and (max-width: 600px) {
  .welcome-image {
    width: 100%;
  }
}
