* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #ffffff;
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: sticky;
}

.topnav a {
  text-decoration: none;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  float: right;
  text-align: center;
  padding: 14px 16px;
  font: size 17px;
}

.topnav a:hover {
  background-color: #ff5108;
  color: black;
}
.welcome-image {
  width: 40vh;
  z-index: 2;
}
.frameImage1 {
  height: 30vh;
  position: absolute;
  top: 10rem;
  left: 0rem;
  z-index: -1;
}

.show-1,
.show-2,
.show-3,
.show-4 {
  display: none;
}

.carousel-1 {
  width: 100%;
}




@media only screen and (max-width: 600px) {
  .welcome-image {
    width: 100%;
  }
}
